body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a:link {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 10px;
}

.logo-holder {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 1000;
}

.links, a {
    padding: 0 10px;
    text-decoration: none;
    color: #e5e7eb;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 40px;
    padding: 40px;
    background-color: #1f2937;
}

.hero-text {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-title {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.hero-subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

button.sign-up {
    margin-top: 10px;
    padding: 8px 30px;
    border: 0;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 800;
}

.img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    background-color: #808080;
    color: #e5e7eb;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 100%;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 20px;
}

.info-box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.info-card {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.info-img {
    text-align: center;
    margin: 0;
    padding: 60px 20px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.img-footer {
    margin-top: 5px;
    text-align: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    width: 500px;
    padding: 80px;
}

.quote-author {
    width: 500px;
    text-align: end;
    font-size: 16px;
    font-weight: 800;
    color: #000;
}

.pop-up {
    display: flex;
    justify-content: space-between;
    margin: 80px;
    padding: 40px 140px;
    border-radius: 10px;
    gap: 80px;
    background-color: #3882f6;
    color: #f9faf8;
}

.pop-up-title {
    font-size: 20px;
    font-weight: 800;
}

.button-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button.sign-up2 {
    margin-top: 10px;
    padding: 8px 30px;
    border: 3px solid #f9faf8;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 800;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 10px;
}